<%= button_to 'Create a New Plant', '/plants/new', method: :get %>
<%= @user['name'] %>'s Dashboard
Name: <%= @user['name'] %>
Email: <%= @user['email'] %>


<p><%= @user['name'] %>'s Plants</p>
<% @user_plants.each do |plant| %>
  <p><%= plant.name %>
    <%= plant.plant_type %> </p>
  <p><%= button_to "Remove #{plant.name} #{plant.plant_type}", "/user_plants/#{plant.id}", method: :delete %></p>
<% end %>
