<!DOCTYPE html>
<html>
  <head>
    <title>Grants Plants</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if !session[:auth].nil? %>
      <%= button_to "Log Out", "/logout", method: :delete %>
    <% end %>
    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %>
    <%= yield %>
  </body>
</html>
